<div class="chat-interface__bottom">
  <form action="#" class="flex">
    <input type="text" placeholder="Type your messsage here..">
    <button type="submit"><i class="ion-android-send"></i></button>
  </form>
</div>
