<sidebar class="chat-side-nav">
  <div class="chat-side-nav__top flex">
    <a href="/chat" class="people-icon"> <i class="ion-chatbox-working"></i></a>
      <a href="/logout" class="people-icon js-logout-button"> <i class="ion-android-exit"></i></a>
    <a href="/find"class="chat-icon"><i class="ion-android-checkbox-outline"></i></a>
  </div>
   <nav class="online-frds__nav js-messengers-nav">
      <ul class="js-messengers-lists">

      </ul>
   </nav>
</sidebar>
