<!doctype>
<html  lang="en">
<head>
  <title> Applet-</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#304ffe">
  <link rel="stylesheet" type="text/css" href="/dist/font2/ionicons-2.0.1/css/ionicons.min.css">
  <link type="text/css" rel="stylesheet" href="/dist/styles/reset.css"></link>
  <link type="text/css" rel="stylesheet" href="/dist/styles/main.css"></link>
</head>
<body class="no-overflow">
    {{{body}}}
</body>
</html>
