<section class="auth">
   <section class="clearfix">
      <h1 class="heading">Register</h1>
      <p class="sub-heading">Register for a new account</p>
      <div class="form-container">
        <div class="alert-container">

        </div>
        <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
          <input type="text" class="field" placeholder="Enter your Nickname" name="nickname" value="">
          <input type="password" class="field " placeholder="Choose a password" name="password">
          <input type="submit" class="submit-btn" value="Register">
        </form>
          <a class="bottom-link" href="/login">ALready have an account Login</a>
      </div>
  </section>
